{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}
    <style>
    .errorlist{
        font-size: 8pt; color: #D03E1A
    }
    </style>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="box__wrap">
            <div class="form__box">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form__box-head">
                        <h2 class="form__title">
                            Придумайте новый пароль
                        </h2>
                    </div>
                    <label class="form__input-wrap form__password-input-wrap">
                        {{ form.old_password }}
                        <div class="form__eye"></div>
                    </label>
                    <p><span style="color: red; font-size: 2em">{{ form.old_password.errors }}</span></p>
                    <label class="form__input-wrap form__password-input-wrap">
                        {{ form.new_password1 }}
                        <div class="form__eye"></div>
                    </label>
                     <div style="font-size: 8pt; color: gray">{{ form.new_password1.help_text }}</div>
                    <p><span style="color: red; font-size: 2em">{{ form.new_password1.errors }}</span></p>
                    <label class="form__input-wrap form__password-input-wrap">
                        {{ form.new_password2 }}
                        <div class="form__eye"></div>

                    </label>
                    <p><span style="color: red; font-size: 2em">{{ form.new_password2.errors }}</span></p>
                    <button class="form__btn" type="submit">
                        Сохранить изменения
                    </button>
                </form>
            </div>
        </div>
        <div class="success__notification">
            Пароль успешно изменен
        </div>
    {% else %}
        <div class="container">
            <h1>Вы не вошли</h1>
            <a href="{% url 'sign-in_page' %}">Войти</a>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}