{% extends 'base.html' %}
{% load static %}

{% block title_page %}Change Number{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">
            <form id="myForm" action="" method="post">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Введите новый номер
                    </h2>
                </div>
                <label class="form__input-wrap">
                    <input type="text" name="phone_number" id="id_phone_number" class="form__input form__input-tel" required>
                </label>
                <span style="color: red">
                    {{form.phone.errors}}
                </span>
                <button class="form__btn" type="button" onclick="addCode()">
                    Потвердить номер
                </button>
            </form>
        </div>
    </div>

    <div class="success__notification">
        Номер успешно изменен
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/phoneRegister/change-number.js' %}"></script>
{% endblock %}
