{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">
            {% if form.errors %}
            <div class="alert alert-danger container" role="alert">
                {{ form.errors }}
            </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Профиль
                    </h2>
                    <a href="{% url 'logout' %}" class="form__reg form__sign-out">
                        Выход
                    </a>
                </div>
                <label class="form__input-wrap">
                    {{ form.first_name }}
                </label>
                {{ form.errors }}
                <label class="form__input-wrap">
                    {{ form.last_name }}
                </label>
                <button class="form__btn" type="submit">
                    Сохранить изменения
                </button>
                <a href="{% url 'change-password_page' %}" class="sms__timer change__filed">
                    Сменить пароль
                </a>
                <a href="{% url 'change-num_page' %}" class="sms__timer change__filed">
                    Сменить номер
                </a>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}{% endblock %}