{% extends 'base.html' %}
{% load static %}

{% block title_page %}Registering your number{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">
            <form id="myForm" action="" method="POST">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Для продолжения, введите номер телефона
                    </h2>
                </div>
                <label class="form__input-wrap">
                    <input name = "phone_number" id="id_phone_number" type="text" class="form__input form__input-tel" required>
                </label>
                    <button class="form__btn" type="button" onclick="processForm()">
                    Отправить код
                </button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/phoneRegister/forgot-password.js' %}"></script>
{% endblock %}
