{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="taplink__wrap">
        <form method="post">
            {% csrf_token %}
    {{ form }}
            <button type="submit">Сохранить</button>
            </form>
        <div class="container">
            <div class="taplink__wrapper">
                <div class="taplink">
                    <h4 class="taplink__title">
                        Ссылка на ваш Таплинк
                    </h4>
                    <p class="taplink__click">
                        Для получения ссылки нажмите “Установить”
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M17.5858 13.0001H4C3.44772 13.0001 3 12.5524 3 12.0001C3 11.4478 3.44772 11.0001 4 11.0001H17.5858L12 5.41429C11.6095 5.02376 11.6095 4.3906 12 4.00008C12.3905 3.60955 13.0237 3.60955 13.4142 4.00008L20.7071 11.293C21.0976 11.6835 21.0976 12.3167 20.7071 12.7072L13.4142 20.0001C13.0237 20.3906 12.3905 20.3906 12 20.0001C11.6095 19.6096 11.6095 18.9764 12 18.5859L17.5858 13.0001Z"
                                  fill="#374257"/>
                        </svg>
                    </p>
{#                    <a href="#" class="taplink__link" id="taplink-link" target="_blank">#}
{#                        https://taplink.cc/_gratia__#}
{#                    </a>#}
                    <div class="taplink__copy">
                    <span>
                        Ссылка успешно скопирована
                    </span>
{#                        <div class="copy__icon">#}
{#                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"#}
{#                                 xmlns="http://www.w3.org/2000/svg">#}
{#                                <path d="M14.3749 0C14.2974 0 6.87487 0 6.87487 0C5.55236 0 4.37489 1.21313 4.37489 2.50001L3.65238 2.51689C2.3305 2.51689 1.24988 3.71312 1.24988 5V17.5C1.24988 18.7869 2.42738 20 3.74989 20H13.1249C14.4474 20 15.6249 18.7869 15.6249 17.5H16.2499C17.5724 17.5 18.7499 16.2869 18.7499 15V5.01501L14.3749 0ZM13.1249 18.75H3.74989C3.09364 18.75 2.4999 18.1369 2.4999 17.5V5C2.4999 4.36314 3.03428 3.77062 3.69053 3.77062L4.37489 3.75001V15C4.37489 16.2869 5.55236 17.5 6.87487 17.5H14.3749C14.3749 18.1369 13.7811 18.75 13.1249 18.75ZM17.4999 15C17.4999 15.6369 16.9061 16.25 16.2499 16.25H6.87487C6.21862 16.25 5.62488 15.6369 5.62488 15V2.50001C5.62488 1.86315 6.21862 1.25002 6.87487 1.25002H13.1249C13.1149 2.6894 13.1249 3.76565 13.1249 3.76565C13.1249 5.0644 14.2936 6.25002 15.6249 6.25002C15.6249 6.25002 16.2887 6.25002 17.4999 6.25002V15ZM15.6249 5C14.9593 5 14.3749 3.79064 14.3749 3.14188C14.3749 3.14188 14.3749 2.48437 14.3749 1.26938V1.26812L17.4999 5H15.6249ZM14.3749 8.76127H8.74989C8.4049 8.76127 8.1249 9.04064 8.1249 9.38564C8.1249 9.73064 8.4049 10.01 8.74989 10.01H14.3749C14.7199 10.01 14.9999 9.73061 14.9999 9.38564C14.9999 9.04064 14.7199 8.76127 14.3749 8.76127ZM14.3749 11.8831H8.74989C8.4049 11.8831 8.1249 12.1625 8.1249 12.5075C8.1249 12.8525 8.4049 13.1319 8.74989 13.1319H14.3749C14.7199 13.1319 14.9999 12.8525 14.9999 12.5075C14.9999 12.1625 14.7199 11.8831 14.3749 11.8831Z"#}
{#                                      fill="#A5ADBC"/>#}
{#                            </svg>#}
{#                        </div>#}
                        <div class="taplink__controll-icon" data-micromodal-trigger="modal-controll">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.47026 19.6241C9.31026 19.6241 9.15057 19.5632 9.02838 19.441C8.78432 19.1969 8.78432 18.8013 9.02838 18.5572L18.7953 8.79035C19.039 8.54628 19.4349 8.54628 19.679 8.79035C19.9231 9.03441 19.9231 9.43003 19.679 9.6741L9.91213 19.441C9.79026 19.5628 9.63026 19.6241 9.47026 19.6241Z"
                                      fill="#A5ADBC"/>
                                <path d="M8.50526 24.125C8.46183 24.125 8.41776 24.1203 8.3737 24.1109C8.0362 24.0384 7.8212 23.7062 7.8937 23.3687L8.85932 18.8678C8.93182 18.5303 9.26557 18.3159 9.60151 18.3878C9.93901 18.4603 10.154 18.7925 10.0815 19.13L9.11589 23.6309C9.05307 23.9243 8.7937 24.125 8.50526 24.125Z"
                                      fill="#A5ADBC"/>
                                <path d="M13.0057 23.1594C12.8457 23.1594 12.686 23.0985 12.5638 22.9763C12.3197 22.7322 12.3197 22.3366 12.5638 22.0926L22.3307 12.326C22.5744 12.0819 22.9704 12.0819 23.2144 12.326C23.4585 12.5701 23.4585 12.9657 23.2144 13.2097L13.4478 22.9763C13.3257 23.0985 13.1657 23.1594 13.0057 23.1594Z"
                                      fill="#A5ADBC"/>
                                <path d="M8.50411 24.1249C8.21567 24.1249 7.95661 23.9243 7.89349 23.6309C7.8213 23.2934 8.03599 22.9612 8.37349 22.8887L12.8744 21.9231C13.2122 21.8515 13.5444 22.0659 13.6166 22.4031C13.6888 22.7406 13.4741 23.0728 13.1366 23.1453L8.63567 24.1109C8.59161 24.1206 8.54755 24.1249 8.50411 24.1249Z"
                                      fill="#A5ADBC"/>
                                <path d="M21.0047 15.1604C20.8447 15.1604 20.6847 15.0994 20.5628 14.9772L17.0275 11.4419C16.7835 11.1979 16.7835 10.8022 17.0275 10.5582C17.2713 10.3141 17.6675 10.3141 17.9113 10.5582L21.4466 14.0935C21.6906 14.3375 21.6906 14.7332 21.4466 14.9772C21.3247 15.0994 21.1647 15.1604 21.0047 15.1604Z"
                                      fill="#A5ADBC"/>
                                <path d="M22.7726 13.3928C22.6126 13.3928 22.4526 13.3318 22.3304 13.2096C22.0863 12.9656 22.0863 12.57 22.3304 12.3256C22.6782 11.9778 22.8697 11.5068 22.8697 11C22.8697 10.4931 22.6782 10.0221 22.3304 9.67433C21.9822 9.32621 21.5113 9.13464 21.0044 9.13464C20.4976 9.13464 20.0266 9.32621 19.6788 9.67433C19.4351 9.91839 19.0394 9.91871 18.7947 9.67433C18.5507 9.43027 18.5507 9.03464 18.7947 8.79027C19.3785 8.20621 20.1632 7.88464 21.0044 7.88464C21.8454 7.88464 22.6304 8.20621 23.2141 8.79027C23.7982 9.37402 24.1197 10.1587 24.1197 11C24.1197 11.8412 23.7982 12.6259 23.2141 13.2096C23.0926 13.3315 22.9326 13.3928 22.7726 13.3928Z"
                                      fill="#A5ADBC"/>
                                <rect x="0.5" y="0.5" width="31" height="31" rx="3.5" stroke="#F1F1F1"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <button class="taplink__controll-btn" data-micromodal-trigger="modal-controll">
                    Управление
                </button>
            </div>
        </div>
    </div>
    <div class="taplink__box-wrap">
        <div class="container">
            <div class="taplink__box">
                <div class="taplink__box-content">
                    <div class="taplink__img">
                        <img src="{% static 'img/jpg/868-536x354.jpg' %}" alt="">
                    </div>
                    <div class="taplink__text">
                        <h5>
                            Заголовок
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                            pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                            vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                            enim.
                        </p>
                    </div>
                    <div class="taplink__contacts">
                        <h5>
                            Свяжитесь с нами:
                        </h5>
                        <div class="taplink__social-media">
                            <a href="#" class="taplink__social-link taplink__telegram">
                                Телеграм
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 20C15.5229 20 20 15.5229 20 10C20 4.47715 15.5229 0 10 0C4.47716 0 0 4.47715 0 10C0 15.5229 4.47716 20 10 20Z"
                                          fill="#0088CC"/>
                                    <path d="M5.26172 11.2124L6.46412 14.9098C6.5543 15.1703 6.87495 15.2705 7.08537 15.0901L10.6926 12.1142C10.6926 12.1142 6.86493 10.6212 6.86493 10.7014C6.86493 10.7715 5.26172 11.2124 5.26172 11.2124Z"
                                          fill="#B5D1DB"/>
                                    <path d="M14.7704 4.10808C12.4157 5.03995 4.81051 8.15618 1.93476 9.33855C1.554 9.49887 1.57404 10.0399 1.96482 10.1602L5.25139 11.2023L6.4538 14.8796C6.5039 15.0299 6.62414 15.1201 6.76442 15.1502C6.87464 15.1702 7.03496 12.1642 7.03496 12.1642C7.03496 12.1642 10.4919 14.7293 12.1251 15.9317C12.5259 16.2323 13.1071 16.0019 13.1973 15.5109C13.6883 12.9959 14.9007 6.71329 15.3215 4.55898C15.3917 4.25838 15.0811 3.98784 14.7704 4.10808Z"
                                          fill="white"/>
                                    <path d="M6.76498 15.1603C6.8752 15.1803 7.03552 12.1743 7.03552 12.1743L12.7069 6.84365C12.7469 6.80357 12.6968 6.74345 12.6568 6.77351L5.25195 11.2024L6.45436 14.8797C6.50446 15.04 6.63472 15.1302 6.76498 15.1603Z"
                                          fill="#D6E2EA"/>
                                </svg>
                            </a>
                            <a href="#" class="taplink__social-link taplink__whatsapp">
                                WhatsApp
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 4.47075 15.5292 0 10 0C4.47075 0 0 4.48468 0 10C0 15.5292 4.47075 20 10 20C15.5153 20 20 15.5153 20 10Z"
                                          fill="#43D854"/>
                                    <path d="M16.003 9.16441C15.9194 5.96107 13.3289 3.4541 10.0977 3.4541C6.92217 3.4541 4.33165 5.91928 4.19237 9.05299C4.19237 9.13655 4.19237 9.22012 4.19237 9.31761C4.19237 10.3622 4.47092 11.3789 5.00017 12.2703C5.0141 12.2981 5.0141 12.312 5.0141 12.3399L3.96953 15.4318C3.9556 15.4736 3.99738 15.5154 4.03917 15.5015L7.25644 14.4708C7.28429 14.4708 7.29822 14.4708 7.32608 14.4708C8.17566 14.9304 9.13666 15.1672 10.1116 15.1672C13.3706 15.1672 16.0169 12.5349 16.0169 9.30368C16.0169 9.27583 16.003 9.16441 16.003 9.16441ZM6.11437 11.9639C5.58513 11.1839 5.30658 10.2647 5.30658 9.31761C5.30658 9.16441 5.3205 9.0112 5.33443 8.858C5.5712 6.40675 7.61855 4.55438 10.1116 4.55438C12.6046 4.55438 14.7077 6.47638 14.8887 8.94157C14.9027 9.08084 14.9027 9.20619 14.9027 9.31761C14.9027 11.936 12.7439 14.0808 10.1116 14.0808C9.40128 14.0808 8.71883 13.9276 8.09209 13.6352C7.91103 13.5516 7.57677 13.3566 7.47928 13.287C7.45142 13.273 7.4375 13.273 7.40964 13.273L5.79404 13.7884C5.75226 13.8023 5.72441 13.7605 5.73833 13.7327L6.26758 12.1867C6.28151 12.1588 6.26758 12.131 6.25365 12.1031C6.19794 12.0613 6.14223 11.9917 6.11437 11.9639Z"
                                          fill="white"/>
                                    <path d="M12.9101 10.6266C12.8683 10.5709 12.6177 10.4455 12.6177 10.4455C12.5202 10.3898 11.782 10.0277 11.6427 9.98593C11.5174 9.94415 11.392 9.88844 11.2667 10.0695C11.1692 10.2088 10.9046 10.5152 10.821 10.6127C10.7653 10.6823 10.7096 10.7102 10.5703 10.6405C10.5424 10.6266 9.88785 10.348 9.42824 9.94415C9.02434 9.58203 8.74578 9.15027 8.64829 8.96922C8.59258 8.85779 8.62043 8.81601 8.704 8.73245C8.74578 8.69066 8.9547 8.43997 8.98255 8.41211C9.01041 8.3564 9.08005 8.24498 9.08005 8.24498C9.13576 8.11963 9.1079 8.02214 9.06612 7.9525C9.03826 7.91072 8.66222 6.9915 8.62043 6.90793C8.50901 6.64331 8.39759 6.64331 8.28617 6.64331C8.23046 6.64331 7.72907 6.65724 7.57586 6.82437L7.54801 6.85222C7.39481 7.01936 7.06055 7.36754 7.06055 8.03607C7.06055 8.18927 7.0884 8.3564 7.13018 8.53746C7.22768 8.8578 7.40873 9.20598 7.6455 9.54024C7.6455 9.54024 8.02155 10.0556 8.20261 10.2645C8.78756 10.933 9.44216 11.4344 10.0968 11.6851C10.9463 12.0194 11.3085 12.089 11.5034 12.089C11.587 12.089 11.782 12.0472 11.8238 12.0333C12.0884 12.0054 12.7012 11.6851 12.8266 11.3369C12.9519 11.0026 12.9519 10.6962 12.9101 10.6266Z"
                                          fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="taplink__box-btn-wrap">
                    <button class="taplink__box-btn" data-micromodal-trigger="modal-controller">
                        Добавить блок
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal micromodal-slide" id="modal-controller" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div class="controll__block">
                    <div class="controll__block-head">
                        <h5>
                            Какой блок будем добавлять?
                        </h5>
                        <div class="controll__block-close" aria-label="Close modal" data-micromodal-close>

                        </div>
                    </div>
                    <div class="controller__grid">
                        <div class="controller__grid-item" data-micromodal-trigger="modal-editor">
                            <div class="controller__item-icon">
                                <svg width="106" height="106" viewBox="0 0 106 106" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M106 23.785V20.3127H91.0698V23.785H96.7988V82.2149H91.0698V85.6872H106V82.2149H100.271V23.785H106Z"
                                          fill="#959BA7"/>
                                    <path d="M0.644207 71.555L18.1185 32.0937C19.3368 29.3726 21.5562 27.7249 24.565 27.7249H25.2095C28.2164 27.7249 30.3656 29.3723 31.5827 32.0937L49.0576 71.555C49.4157 72.3429 49.6311 73.0588 49.6311 73.7753C49.6311 76.7114 47.3391 79.0748 44.4026 79.0748C41.8245 79.0748 40.1054 77.571 39.1031 75.2787L35.7375 67.4014H13.6792L10.1699 75.6375C9.23863 77.7857 7.37706 79.0748 5.08509 79.0748C2.21935 79.0748 0 76.7831 0 73.9183C0 73.1304 0.286107 72.3429 0.644207 71.555ZM31.655 57.6613L24.7077 41.1176L17.761 57.6613H31.655Z"
                                          fill="#A5ADBC"/>
                                    <path d="M54.8561 67.616V67.4726C54.8561 59.0935 61.2302 55.2261 70.3255 55.2261C74.1932 55.2261 76.9867 55.8706 79.7081 56.8019V56.1573C79.7081 51.6451 76.9147 49.139 71.4718 49.139C68.4639 49.139 66.0289 49.5685 63.952 50.2133C63.3078 50.428 62.8777 50.4994 62.3756 50.4994C59.8698 50.4994 57.8646 48.5659 57.8646 46.0595C57.8646 44.1256 59.0816 42.4784 60.8001 41.8336C64.2378 40.5446 67.9625 39.8284 73.0473 39.8284C78.991 39.8284 83.2885 41.4038 86.0103 44.1253C88.8747 46.9898 90.1638 51.2156 90.1638 56.3721V73.8464C90.1638 76.7832 87.8005 79.0746 84.864 79.0746C81.7127 79.0746 79.6361 76.8546 79.6361 74.5626V74.4909C76.9864 77.4271 73.3331 79.3607 68.0342 79.3607C60.8001 79.3613 54.8561 75.2081 54.8561 67.616ZM79.8506 65.1092V63.1757C77.9887 62.3164 75.5537 61.7433 72.9039 61.7433C68.2483 61.7433 65.3841 63.6055 65.3841 67.0428V67.1862C65.3841 70.1227 67.8191 71.8412 71.3281 71.8412C76.4129 71.8415 79.8506 69.0487 79.8506 65.1092Z"
                                          fill="#A5ADBC"/>
                                </svg>
                            </div>
                            <h6>
                                Текст
                            </h6>
                        </div>
                        <div class="controller__grid-item" data-micromodal-trigger="modal-avatar">
                            <div class="controller__item-icon">
                                <svg width="106" height="106" viewBox="0 0 106 106" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <g opacity="0.08">
                                            <path opacity="0.08"
                                                  d="M53.0004 92.7529C27.0888 92.7539 5.33293 73.2458 2.51875 47.4878C2.31896 49.3217 2.21731 51.1643 2.21524 53.0079C2.21524 81.0556 24.9527 103.793 53.0006 103.793C81.0486 103.793 103.786 81.0558 103.786 53.0079C103.784 51.164 103.682 49.3215 103.483 47.4878C100.668 73.2458 78.9121 92.7539 53.0004 92.7529Z"
                                                  fill="#303442"/>
                                        </g>
                                        <path d="M87.1383 92.819C86.531 92.819 85.9271 92.5706 85.4911 92.0826C82.1823 88.3819 77.4239 85.6197 73.2276 83.183C67.3266 79.7539 62.2425 76.7983 62.2425 72.1956C62.1465 67.9682 64.0884 63.8237 67.4369 61.1598C67.7338 60.9236 68.0862 60.7689 68.4615 60.7083C69.0919 60.6066 70.4675 57.7407 70.4675 55.1163C70.4675 54.0719 70.2246 53.7915 70.2223 53.7893C69.5068 53.2858 69.1679 52.4169 69.3391 51.5591C72.0109 38.2025 67.8245 32.0808 65.0919 29.6198C61.8272 26.7427 57.1992 25.7678 53.0282 27.0916C52.8139 27.1601 52.5909 27.1942 52.3669 27.1953C46.2108 27.2152 41.4624 29.3227 38.635 33.2907C34.7024 38.8087 35.0721 46.4993 36.5847 51.4088C36.8298 52.2049 36.6069 53.0705 36.0073 53.6479C35.6872 53.9559 35.5293 54.4031 35.5846 54.8435C35.5955 54.9329 35.6011 55.0246 35.6011 55.1151C35.6011 57.7249 36.9768 60.5987 37.607 60.7093C37.9768 60.7745 38.3457 60.9356 38.637 61.173C41.9402 63.8524 43.8546 67.9927 43.7586 72.2442C43.7586 76.7973 38.6755 79.7516 32.789 83.172C28.5794 85.6164 23.8188 88.3796 20.5089 92.0803C19.6963 92.99 18.301 93.0672 17.3913 92.2549C16.4816 91.4423 16.4043 90.0456 17.2167 89.1372C20.9946 84.9121 26.0766 81.9621 30.5601 79.3599C34.6804 76.9641 39.3415 74.256 39.3415 72.1948C39.4045 69.4015 38.2364 66.7231 36.1984 64.8961C32.5232 63.6761 31.2247 57.9661 31.1839 55.2457C31.0557 53.9574 31.3684 52.6624 32.0439 51.5771C30.527 45.6937 30.4729 37.1332 35.037 30.7264C38.6714 25.6258 44.5382 22.8834 52.0191 22.7808C57.5723 21.1436 63.6754 22.4849 68.0276 26.3224C71.3927 29.3519 76.5142 36.5622 73.8779 51.3132C74.4421 52.1401 74.8814 53.3502 74.8814 55.1143C74.8814 57.7883 73.5951 63.6837 69.8393 64.9025C67.7771 66.7153 66.5945 69.3883 66.6554 72.1449C66.6564 74.2558 71.3188 76.965 75.4325 79.3564C79.9249 81.9642 85.0056 84.9141 88.7825 89.137C89.5951 90.0456 89.5166 91.4423 88.608 92.2546C88.1871 92.6335 87.6627 92.819 87.1383 92.819Z"
                                              fill="#A5ADBC"/>
                                        <path d="M52.9454 106C39.7633 106 27.1331 101.116 17.378 92.2438C-4.25884 72.6041 -5.88507 39.0197 13.7566 17.3806C23.2712 6.89799 36.2988 0.748534 50.438 0.0640884C64.5828 -0.62367 78.1382 4.24281 88.6198 13.7573C110.26 33.399 111.885 66.9826 92.2432 88.6215C82.2198 99.6663 67.916 106 52.9994 106C52.9828 106 52.964 106 52.9454 106ZM53.0567 4.41609C52.2574 4.41609 51.456 4.43597 50.6521 4.47469C37.6896 5.10282 25.7485 10.7401 17.0267 20.3494C-0.977599 40.1845 0.511577 70.9713 20.3489 88.976C29.2893 97.1061 40.8661 101.584 52.9487 101.584C52.9652 101.584 52.9818 101.584 52.9984 101.584C66.674 101.584 79.7866 95.778 88.9742 85.654C106.98 65.8168 105.489 35.0309 85.6532 17.0264C76.6401 8.84657 65.1437 4.41609 53.0567 4.41609Z"
                                              fill="#A5ADBC"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="106" height="106" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <h6>
                                Аватар
                            </h6>
                        </div>
                        <div class="controller__grid-item" data-micromodal-trigger="modal-messenger">
                            <div class="controller__item-icon">
                                <svg width="106" height="106" viewBox="0 0 106 106" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M94.805 49.7131C94.805 30.3553 74.3996 17.6667 54.0275 17.6667C33.5741 17.6667 13.25 30.4149 13.25 49.7131C13.25 57.0141 16.4476 64.1536 22.254 69.8167C22.4761 70.0335 22.5612 70.3625 22.4759 70.6751C20.6522 77.3562 16.3327 83.3916 14.5603 85.6764C14.009 86.3871 13.9183 87.327 14.3239 88.1297C14.7203 88.9146 15.5042 89.3953 16.3799 89.3953C16.3998 89.3953 16.4194 89.3951 16.4393 89.3947C25.1125 89.1783 35.1657 86.7304 41.38 80.6209C41.5971 80.4072 41.9087 80.3228 42.2139 80.3954C46.0319 81.301 50.0067 81.76 54.0275 81.76C74.4749 81.7596 94.805 69.0166 94.805 49.7131ZM42.9304 77.3734C41.5804 77.0527 40.1864 77.439 39.2028 78.4061C32.9884 84.5162 22.8407 85.9051 18.037 86.2138C20.2313 83.1848 23.7991 77.6216 25.4719 71.4926C25.8543 70.0919 25.452 68.5979 24.4222 67.5934C19.145 62.4464 16.3555 56.2634 16.3555 49.7131C16.3555 33.7552 33.255 20.7722 54.0275 20.7722C74.8 20.7722 91.6995 33.755 91.6995 49.7131C91.6995 65.6713 74.8 78.6541 54.0275 78.6541C50.2477 78.6541 46.5143 78.223 42.9304 77.3734Z"
                                          fill="#A5ADBC"/>
                                    <path d="M29.8659 44.1592C26.8985 44.1592 24.4846 46.5734 24.4846 49.5405C24.4846 52.5077 26.8985 54.9219 29.8659 54.9219C32.8333 54.9219 35.2473 52.5077 35.2473 49.5405C35.2473 46.5734 32.8333 44.1592 29.8659 44.1592ZM29.8659 51.8166C28.6109 51.8166 27.59 50.7956 27.59 49.5408C27.59 48.2859 28.6111 47.2649 29.8659 47.2649C31.1207 47.2649 32.1418 48.2859 32.1418 49.5408C32.1418 50.7956 31.1207 51.8166 29.8659 51.8166Z"
                                          fill="#A5ADBC"/>
                                    <path d="M45.2179 44.1592C42.2505 44.1592 39.8365 46.5734 39.8365 49.5405C39.8365 52.5077 42.2505 54.9219 45.2179 54.9219C48.1853 54.9219 50.5993 52.5077 50.5993 49.5405C50.5993 46.5734 48.1853 44.1592 45.2179 44.1592ZM45.2179 51.8166C43.9629 51.8166 42.942 50.7956 42.942 49.5408C42.942 48.2859 43.9631 47.2649 45.2179 47.2649C46.4727 47.2649 47.4938 48.2859 47.4938 49.5408C47.4938 50.7956 46.4729 51.8166 45.2179 51.8166Z"
                                          fill="#A5ADBC"/>
                                    <path d="M60.5697 44.1592C57.6023 44.1592 55.1883 46.5734 55.1883 49.5405C55.1883 52.5077 57.6023 54.9219 60.5697 54.9219C63.5371 54.9219 65.951 52.5077 65.951 49.5405C65.951 46.5734 63.5371 44.1592 60.5697 44.1592ZM60.5697 51.8166C59.3147 51.8166 58.2938 50.7956 58.2938 49.5408C58.2938 48.2859 59.3149 47.2649 60.5697 47.2649C61.8245 47.2649 62.8456 48.2859 62.8456 49.5408C62.8456 50.7956 61.8247 51.8166 60.5697 51.8166Z"
                                          fill="#A5ADBC"/>
                                    <path d="M75.9219 44.1592C72.9545 44.1592 70.5405 46.5734 70.5405 49.5405C70.5405 52.5077 72.9545 54.9219 75.9219 54.9219C78.8893 54.9219 81.3033 52.5077 81.3033 49.5405C81.3033 46.5734 78.8893 44.1592 75.9219 44.1592ZM75.9219 51.8166C74.6669 51.8166 73.646 50.7956 73.646 49.5408C73.646 48.2859 74.6671 47.2649 75.9219 47.2649C77.1767 47.2649 78.1978 48.2859 78.1978 49.5408C78.1978 50.7956 77.1767 51.8166 75.9219 51.8166Z"
                                          fill="#A5ADBC"/>
                                </svg>
                            </div>
                            <h6>
                                Мессенджер
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal micromodal-slide instrument-modal" id="modal-avatar" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true"
                 aria-labelledby="modal-1-title">
                <form action>
                    <div class="controll__block">
                        <div class="controll__block-head">
                            <h5>
                                Аватар
                            </h5>
                            <div class="controll__block-close" aria-label="Close modal"
                                 data-micromodal-close>
                            </div>
                        </div>
                        <div class="modal__avatar-flex">
                            <div class="modal__avatar-flex-itm">
                                <img src="{% static 'img/jpg/868-536x354.jpg' %}" class="profile-pic" alt="">
                            </div>
                            <input class="file-upload" type="file" accept="image/*" id="avatar__btn">
                            <label for="avatar__btn" class="avatar__upload">
                                <div class="modal__avatar-icon">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M17.143 6.42851H13.5716C13.1771 6.42851 12.8573 6.74831 12.8573 7.14281C12.8573 7.53732 13.1771 7.85712 13.5716 7.85712H17.143C17.5375 7.85712 17.8573 8.17692 17.8573 8.57142V17.8572C17.8573 18.2517 17.5375 18.5715 17.143 18.5715H2.85723C2.46272 18.5715 2.14292 18.2517 2.14292 17.8572V8.57138C2.14292 8.17688 2.46272 7.85708 2.85723 7.85708H6.42867C6.82318 7.85708 7.14298 7.53728 7.14298 7.14277C7.14298 6.74827 6.82318 6.42847 6.42867 6.42847H2.85723C1.67375 6.42847 0.714355 7.38786 0.714355 8.57134V17.8571C0.714355 19.0406 1.67375 20 2.85723 20H17.143C18.3265 20 19.2859 19.0406 19.2859 17.8571V8.57138C19.2859 7.38791 18.3265 6.42851 17.143 6.42851Z"
                                                  fill="white"/>
                                            <path d="M14.0766 3.78059L10.5051 0.20915C10.2262 -0.0697166 9.77404 -0.0697166 9.49513 0.20915L5.92365 3.78059C5.64959 4.06435 5.65746 4.51653 5.94122 4.79059C6.21804 5.05794 6.65687 5.05794 6.93368 4.79059L9.28586 2.43841V14.2857C9.28586 14.6802 9.60566 15 10.0002 15C10.3947 15 10.7145 14.6802 10.7145 14.2857V2.43845L13.0667 4.79063C13.3504 5.06468 13.8026 5.05681 14.0767 4.77305C14.3439 4.49623 14.3439 4.05741 14.0766 3.78059Z"
                                                  fill="white"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="20" height="20" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                Загрузить аватар
                            </label>
                        </div>
                        <button type="submit" class="modal__avatar-save">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal micromodal-slide instrument-modal" id="modal-messenger" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true"
                 aria-labelledby="modal-1-title">
                <form action="">
                    <div class="controll__block">
                        <div class="controll__block-head">
                            <h5>
                                Мессенджеры
                            </h5>
                            <div class="controll__block-close" aria-label="Close modal"
                                 data-micromodal-close>
                            </div>
                        </div>
                        <div class="messenger__fields">
                            <div>
                                <label class="messenger__fields-ttl">
                                    WhatsApp
                                </label>
                                <input type="text" class="form__input-tel messenger__input">
                            </div>
                            <div>
                                <label class="messenger__fields-ttl">
                                    Telegram
                                </label>
                                <input type="text" class="form__input-tel messenger__input">
                            </div>
                        </div>
                        <button type="submit" class="modal__avatar-save">
                            Добавить блок
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal micromodal-slide instrument-modal" id="modal-editor" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true"
                 aria-labelledby="modal-1-title">
                <form action="">
                    <div class="controll__block">
                        <div class="controll__block-head">
                            <h5>
                                Текст
                            </h5>
                            <div class="controll__block-close" aria-label="Close modal"
                                 data-micromodal-close>
                            </div>
                        </div>
                        <div id="editor">
                        </div>
                        <button type="submit" class="modal__avatar-save">
                            Добавить блок
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal micromodal-slide" id="modal-controll" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true"
                 aria-labelledby="modal-1-title">
                <form action="">
                    <div class="controll__block">
                        <div class="controll__block-head">
                            <h5>
                                Управление ссылкой
                            </h5>
                            <div class="controll__block-close" aria-label="Close modal"
                                 data-micromodal-close>
                            </div>
                        </div>
                        <input type="text" class="controll__input"
                               placeholder="Установите желаемую ссылку например: HelloWorld">
{#                        <p class="link__error">#}
{#                            К сожалению данная ссылка уже занята#}
{#                        </p>#}
                        <button type="submit" class="modal__avatar-save controll__btn">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".file-upload").on('change', function () {
                readURL(this);
            });
        });
    </script>
{% endblock %}