{% extends 'base.html' %}
{% block content %}
    <h1>Вы вышли</h1>
{% endblock %}
{% block scripts %}
    <script>
    setTimeout(window.location.replace('{% url 'sign-in_page' %}'), 10000)
    </script>
{% endblock %}