{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}
          <style>
    .errorlist{
        font-size: 8pt; color: #D03E1A
    }
    </style>
{% endblock %}

{% block content %}
        <div class="box__wrap">
            <div class="form__box">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form__box-head">
                        <h2 class="form__title">
                            Придумайте новый пароль
                        </h2>
                    </div>{{ form.user }}
                    <label class="form__input-wrap form__password-input-wrap">
                        {{ form.new_password1 }}
                        <div class="form__eye"></div>

                    </label>
                    <div>{{ form.new_password.errors }}</div>
                     <div style="font-size: 8pt; color: gray">{{ form.new_password1.help_text }}</div>
                    <label class="form__input-wrap form__password-input-wrap">
                        {{ form.new_password2 }}
                        <div class="form__eye"></div>

                    </label>
                    <div>{{ form.new_password2.errors }}</div>
                    <button class="form__btn" type="submit">
                        Сохранить изменения
                    </button>
                </form>
            </div>
        </div>

{% endblock %}

{% block scripts %}
    <script>
       document.getElementById("current-phone").value = sessionStorage.getItem('phone_number_for_set_password');
    </script>
{% endblock %}