{% extends 'base.html' %}
{% load static %}

{% block title_page %}Registration{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}
        <style>
    .errorlist{
        font-size: 8pt; color: #D03E1A
    }
    </style>
{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">

            <form action="" method="POST">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Регистрация
                    </h2>
                    {{ form.phone }}
                </div>
                {{ form.phone.errors }}
                <label class="form__input-wrap">
                    {{ form.first_name }}
                </label>
                <label class="form__input-wrap">
                    {{ form.last_name }}
                </label>
                <label class="form__input-wrap form__password-input-wrap">
                    {{ form.password1 }}
                    <div class="form__eye"></div>
                </label>
                <div style="font-size: 8pt; color: gray">{{ form.new_password1.help_text }}</div>
                {{ form.password1.errors }}
                <label class="form__input-wrap form__password-input-wrap">
                    {{ form.password2 }}
                    <div class="form__eye"></div>
                </label>
                {{ form.password2.errors }}
                <button class="form__btn" type="submit">
                    Зарегистрироваться
                </button>
            </form>
        </div>
    </div>

    <div class="success__notification">
        Регистрация прошла успешно
    </div>

{% endblock %}

{% block scripts %}
    <script>
    document.getElementById('id_phone').value = window.sessionStorage.getItem('phone_number')
    </script>
{% endblock %}
