{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}
        <style>
    .errorlist{
        font-size: 8pt; color: #D03E1A
    }
    </style>
{% endblock %}

{% block content %}

    <div class="box__wrap">
        <div class="form__box">

            <form method="post" id="form-sign-in" action="{% url 'sign-in_page' %}">
                {% csrf_token %}

                <div class="form__box-head">
                    <h2 class="form__title">
                        Авторизация
                    </h2>
                    <a href="{% url 'reg-number_page' %}" onclick={localStorage.clear()} class="form__reg">
                        Регистрация
                    </a>
                </div>
                <label class="form__input-wrap">
                    {{ form.phone }}
                </label>
                {{ form.phone.errors }}
                <label class="form__input-wrap form__password-input-wrap">
                    {{ form.password }}
                    <div class="form__eye"></div>
                </label>

               <div> {{ form.phone.errors }} </div>
               <div> {{ form.errors }} </div>
                <button class="form__btn" type="button" onclick="addCode()">
                    Войти
                </button>
                <a href="{% url 'forgot-password-page' %}" class="forget__password">
                    Забыли пароль?
                </a>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/phoneRegister/phone-submit.js' %}"></script>

{% endblock %}