{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {#  Seo  #}
    <meta name="keywords" content="{% block SEO-keywords %}{% endblock %}"/>
    <meta name="description" content="{% block SEO-description %}{% endblock %}"/>
    <meta name="copyright" content="">
    <meta name="language" content="RU">
    <meta name="robots" content=""/>
    <meta name="author" content="">
    <meta name="reply-to" content="">
    <meta name="owner" content="">
    <meta name="url" content="http://www.site.kg/">
    <meta name="identifier-URL" content="http://site.kg//">
    {#  OpenGraph  #}
    <meta name="og:title" content="{% block OG-title %} {% endblock %}"/>
    <meta name="og:url" content="{% block OG-url %} {% endblock %}"/>
    <meta name="og:image" content="{% block OG-image %} {% endblock %}"/>
    <meta name="og:description" content="{% block OG-description %} {% endblock %}"/>
    {#  TitlePage  #}
    <title>{% block title_page %}{% endblock %}</title>
    {#  FaviconSite  #}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    {#  Fonts  #}
    <link rel="stylesheet" href="{% static 'fonts/font/stylesheet.css' %}">
    {#  StyleLibs  #}
    {% block style-libs %}

    {% endblock %}
    {#  Style  #}
    <link rel="stylesheet" href="{% static 'js/micromodaljs/micromodal.css' %}">
    <link rel="stylesheet" href="{% static 'js/intl-tel-input-mask__custom-f/css/intlTelInput.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/quill.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    {#  CustomStyle  #}
    {% block style %}

    {% endblock %}

</head>

<body>

{% include 'spriteSVG/sprite.html' %}

<div class="page {% block page %}{% endblock %}">
    {% block header %}
        {% include 'partials/header/header.html' %}
    {% endblock %}

    <main>

        {% block content %}{% endblock %}
        {% block redirect %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'partials/footer/footer.html' %}
    {% endblock %}

</div>

<script src="{% static 'js/jquery-2.2.4.js' %}"></script>
<script src="{% static 'js/intl-tel-input-mask__custom-f/js/intlTelInput.js' %}"></script>
<script src="{% static 'js/intl-tel-input-mask__custom-f/js/imask.js' %}"></script>
<script>
    var utilsPath = "{% static 'js/intl-tel-input-mask__custom-f/js/utils.js' %}"
</script>
<script src="{% static 'js/intl-tel-input-mask__custom-f/js/settings-mask.js' %}"></script>
<script src="{% static 'js/quill.js' %}"></script>
<script src="{% static 'js/micromodaljs/micromodal.min.js' %}"></script>
<script src="{% static 'js/timer-settings.js' %}"></script>
<script src="{% static 'js/taplink.js' %}"></script>
<script src="{% static 'js/modal-settings.js' %}"></script>
<script src="{% static 'js/editor-settings.js' %}"></script>



{% block scripts %}
{% endblock %}

</body>

</html>
